<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <body style="-webkit-print-color-adjust: exact !important;">
        <style>
            footer {
                position: fixed;
                background-color: #0440c4;
                color: white;
                display: flex;
                justify-content: space-between;
                width: 18cm;
                height: 1.5cm;
                align-items: center;
                margin: 32px 24px;
                padding: 16px;
                direction: rtl;
            }

            footer {
                bottom: 0;
            }
        </style>

        <footer>
            <p>مرکز آپا دانشگاه کردستان</p>
        </footer>
        <style>
            main {
                margin: 0cm 1cm 2cm 1cm;
                width: 18.5cm;

            }

            table {
                border-collapse: collapse;
                width: 18cm;
            }

            thead {
                display: table-header-group;
                background-color: #6f9dff !important;
            }

            .hidden {
                height: 4.5cm;
                visibility: hidden;
                border: none;
            }
            thead .hidden{
                height: 1cm;
            }

            th {
                padding: 6px;
                border: 1px solid black;
                text-align: center;
                width: auto;
            }

            tbody th {
                font-size: 14px;
                font-weight: 400;
            }

            tbody tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .title {
                display: flex;
                direction: rtl;
                align-items: center;
                justify-content: space-between;
            }
        </style>
        <main>

            <table>
                <div class="title">
                    <h3>گزارش سامانه مدیریت وضعیت وبسایت ها </h3>
                    <h4><%= time%></h4>
                </div>
                <thead>
                    <tr class="hidden">
                        <th>#</th>
                        <th>url</th>
                        <th>response code</th>
                        <th>head response code</th>
                        <th>ip</th>
                        <th>time range</th>
                        <th>date</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>url</th>
                        <th>response code</th>
                        <th>head response code</th>
                        <th>ip</th>
                        <th>time range</th>
                        <th>date</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(el=> { %>
                        <tr>
                            <th>
                                <%=el._id%>
                            </th>
                            <th>
                                <%=el.url%>
                            </th>
                            <th>
                                <%= el.status%>
                            </th>
                            <th>
                                <%= el.headStatus%>
                            </th>
                            <th>
                                <%=el.ip%>
                            </th>
                            <th>
                                <%=el.timeRange%>
                            </th>
                            <th>
                                <%= el.date%>
                            </th>
                        </tr>
                        <% }) %>


                </tbody>
                <tfoot>
                    <tr class="hidden">
                        <th>#</th>
                        <th>url</th>
                        <th>response code</th>
                        <th>head response code</th>
                        <th>ip</th>
                        <th>time range</th>
                        <th>date</th>
                    </tr>
                    <tr>
                </tfoot>
            </table>
        </main>

    </body>
</body>

</html>